body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #00c2ff;
  color: white;
  text-decoration: none;
}

/* ABOUT */
.about {
  padding: 60px 20px;
  text-align: center;
}

/* PROJECTS */
.projects {
  padding: 60px 20px;
  background: #f4f4f4;
  text-align: center;
}

.project {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* CONTACT */
.contact {
  padding: 60px 20px;
  text-align: center;
  background: #141e30;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}